*{
    margin: 0px;
    padding: 0px;
}
.text-style{
    font-style: italic;
    color: rgb(124, 124, 124);
}
/* header-section style */
.bg-color{
    background-image:
    linear-gradient(rgb(232	130	131 ),rgb(237	209	136));
    color: white;
}
.header-section{
    height: 700px;
    background-image: url("img/header-bag.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;   
}   
.navbar ul li a:hover{
    color: orange;
}
.header-text{
    margin-top: 100px;
    margin-bottom: 45px;
}
.header-text h1{
    font-size: 90px;
}
.learn-more{
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    font-weight: bold;
}
.shape{
    background-color: white;
    width: 60px;
    margin: auto;
    height: 3px;
    margin-bottom: 50px;   
}
.shape2{
    background-color: rgb(211, 90, 90);
    width: 60px;
    margin: auto;
    height: 3px;
    margin-bottom: 50px;   
    margin-left: 500px;
}
.shape1{
    background-color: rgba(255, 255, 255, 0.877);
    width: 80%;
    height: 3px;  
    margin-bottom: 15px;
}
span{
    font-size: 21px;
    font-weight: bold;
}
.number{
    background-color: rgb(149, 225, 212);
    color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}
.number h1{
    font-weight: bold;
}
.service .icon{
    color: rgb(149, 225, 212);
}
.unique-design{
    height: 750px;
    background-image: url("img/design-bag.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;   
}
.uniue-design-shape{
    background-color: rgb(211, 90, 90);
    width: 60px;
    margin: auto;
    height: 3px;
    margin-bottom: 50px;   
    margin-left: 640px;
}
.unique-design .img1{
    padding-left: 450px;
}
.unique-design .img2{

}
/* we-do Section Start */
.accordion .part h2{
    border: solid 1px rgb(226, 222, 222);
}
.we-do .part{
    padding-bottom: 10px;
}
.accordion .part .collapse {
    border: solid 1px rgb(226, 222, 222);
    font-style: italic;
    color: rgb(151, 149, 149);
}
.accordion .part .icon {
    color: rgb(149, 225, 212);
    font-size: 30px;
}
/* comment-slide start */
.comment-slide{
    margin-top: 80px ;
    padding: 40px 0px ;
    background-color: rgb(244, 248, 247);
}
.slide-icon i{
    color: rgb(149, 225, 212);
    font-size: 40px;
    border: solid 2px rgb(149, 225, 212);
    padding: 35px;
}
.slide-shape{
    background-color: rgb(211, 90, 90);
    width: 55px;
    height: 3px; 
}
/* logo-slide start */
.logo-slide{
    padding: 40px 0px ;
    background-color: rgb(244, 248, 247);
}
.feedback-slide{
    margin-top: 50px ;
    padding: 40px 0px ;
}
/*  */
.clients-shape{
    background-color: rgb(211, 90, 90);
    width: 60px;
    height: 3px;
    margin-bottom: 15px;   
}
.happy-clients{
    height: 750px;
    background-image: url("img/client-beg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;   
}